---
import Layout from '../layouts/Layout.astro';
import ServiceList from '../components/ServiceList';
---

<Layout title="My Portfolio">
	<main>
		<h1>Carlos Custodio</h1>
		<div class="intro-block">
			<img class="profile-pic" src="/profile.png" alt="profile pic">
		<p class="intro">
			Hello, I'm a 26 year-old software engineer with a passion for learning new things, here you will find what I consider my best. My main stack is React with 
			Go as the backend, but I love to learn new technologies. I'm currently employed at Nubank as Associate Software engineer.

		</p>
	</div>
	<div class="project-showcase">
		<ServiceList client:load />
	</div>
    
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
		width: 100%;
	}
	img {
		height: 200px;
		width:200px;
		border-radius:1pc;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
		color: white;
	}
	.intro-block{
		display: flex;

	}
	.profile-pic{
		border-right: 5 px;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.intro {
		height: 180px;
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid white;
		overflow: auto;
		padding: 1rem;
		border-radius: 0.4rem;
		margin: 10px;
		color: white
	}
    .project-showcase {
		margin-left: -20px;
	}

</style>
